extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-12.col-sm-12
      p
        | Loc8r was created to help people find places to sit down and get a bit of work done.
        | <br/><br/>
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sedlorem ac nisi dignissim accums an. fghihjigjijgijhij
        jidif id sjihs uohoho hruoetpi jwt ypeh nihd uuhifjj jiuiijioejirj
        ljijfijdiji hoewu hrfu7 9gufhw r80yw
        jridiuu uuueh y889489 8y677hu jghyyg ygyayguh guyiuay9 ug8gah
        gytguihu jkdhdh
        | <br/><br/>
        | ujujujjey y7u uuuuuu uuuuuuuuu uy777gh jhgyyy gygy guyguyg ggugug gugugugu hhuu uuhu ihi huhuh uihuhu hu uuuhoh uuouuu uuhuhuhuhuh uuuhu